$BGofBody: #dcbb9a;
$ColorofHeading: #893c00;
$BGofBrief: #fadcba;
$TableColor: #e0e0e0;
$ColorFontOfTable: #808080;
$LinkColor: #3d70a1;
$BGofTable: #fff;
$BGofContent: #fff;
$TextColor: #000;
$FormBG: #fff;
$FontInForm: #808080;