$BGofBody: rgba(198, 238, 252, 0.53);
$ColorofHeading: #fccd10;
$BGofBrief: #fff178;
$ColorFontOfTable: #808080;
$LinkColor: #f5c70f;
$TableColor: #94a34e;
$BGofTable: #677d01;
$BGofContent: #3b3b3b;
$TextColor: #fff;
$FormBG: #3b3b3b;
$FontInForm: #fccd10;