body {
  background: rgba(198, 238, 252, 0.53);
  color: #fff; }
  body #content {
    max-width: 70%;
    margin: auto;
    background: #3b3b3b;
    padding: 20px; }
    body #content h1 {
      margin-top: 5px;
      text-align: center; }
    body #content h1, body #content h2 {
      color: #fccd10; }
    body #content .brief {
      background-color: #fff178;
      color: #000;
      padding: 15px;
      margin-bottom: 15px; }
    body #content img {
      padding: 1px;
      border: #fccd10 1px solid; }
    body #content .img-left {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px; }
    body #content .img-right {
      float: right;
      margin-left: 10px;
      margin-bottom: 10px; }
    body #content table {
      border: none;
      border-spacing: 0px; }
      body #content table th {
        text-transform: uppercase;
        background: #94a34e;
        text-align: left;
        font-weight: normal;
        color: #000; }
      body #content table th:nth-child(2) {
        border-right: #fff 1px solid;
        border-left: #fff 1px solid; }
      body #content table tr {
        background: #677d01; }
      body #content table th, body #content table td {
        padding: 10px; }
      body #content table td {
        border-bottom: #94a34e 1px solid; }
      body #content table caption {
        text-align: right;
        color: #000; }
    body #content #responseTable table {
      width: 90%; }
    body #content #responseTable td {
      border: none;
      padding: 0;
      text-transform: uppercase;
      color: #fccd10;
      background: #3b3b3b; }
    body #content #responseTable input {
      width: 98%;
      height: 20px; }
    body #content #responseTable textarea {
      width: 915px;
      height: 120px; }
    body #content button {
      margin-top: 10px;
      text-transform: uppercase;
      border-radius: 0;
      background: 0 0;
      border: 1px solid #f5c70f;
      color: #f5c70f;
      font-size: 1.4em;
      font-weight: 300;
      padding: 15px 50px; }
    body #content a {
      color: #f5c70f; }
